<table>
  <% @movements.each do |movement| %>
    <tr>
      <td><%= link_to movement.name, movement_path(movement) %></td>
      <td><%= button_to 'Edit', edit_movement_path(movement), method: 'get'%></td>
      <td><%= button_to 'Remove', movement_path(movement), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New Movement", new_movement_path %>