    <h3 class="list-header"><%= t '.title' %> </h3>
    <div class="list-body">
    <% @personal_records.each do |personal_record| %>
      <div class="list-item">
        <div class="col-md-8 list-item__name"><%= link_to personal_record.movement.name, personal_record_path(personal_record) %></div>
        <div className="list-item__weight"><%= link_to personal_record.weight, personal_record_path(personal_record) %> </div>
      </div>
    <% end %>
    </div>
  <%= button_to t('.new'), '/personal_records/movements', method: :get, class: 'btn btn-info' %>
